__pycache__/
!windows/terminal/settings.json
.config/alacritty/alacritty.local.toml
.config/htop/
.config/mise/config.local.toml
.config/powershell/Modules/
.vim/.netrwhist
.vim/plugged/
windows/terminal/