[user]
	name = Eanna Glavin
	email = 29385958+eglavin@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	eol = native
	safecrlf = warn
	autocrlf = input
	longpaths = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
	excludesfile = ~/.gitignore_global

[apply]
	whitespace = fix

[push]
	autoSetupRemote = true
	default = current

[merge]
	autoStash = true
	log = true

[rebase]
	autoStash = true

[pull]
	rebase = true

[diff]
	renames = copies

[pager]
	branch = false

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[include]
	# Use an additional, host-specific Git config (if it exists).
	path = ~/.gitconfig.local
