[user]
	name = Eanna Glavin
	email = 29385958+eglavin@users.noreply.github.com

[init]
	defaultBranch = main

[apply]
	whitespace = fix

[core]
	autocrlf = true
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

[merge]
	log = true

[pull]
	rebase = preserve

[diff]
	renames = copies

[pager]
	branch = false

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[include]
	# Use an additional, host-specific Git config (if it exists).
	path = ~/.gitconfig.local
