[submodule "ansible"]
	path = ansible
	url = https://github.com/eglavin/ansible-playbook
[submodule "windows/fresh-install"]
	path = windows/fresh-install
	url = https://github.com/eglavin/fresh-windows-install
